<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://cloud189-shzh-person.oos-gdsz.ctyunapi.cn/PERSONCLOUD/bb2e0ed6-f52b-4da2-bb40-26e28f59e1c6.ipa?x-amz-UFID=31413110738655338&x-amz-CLIENTNETWORK=UNKNOWN&x-amz-SHID=169701802&x-amz-FSIZE=21838312&Expires=1596326888&x-amz-UID=776740034&response-content-disposition=attachment%3Bfilename%3D%22rocket.ipa%22&AWSAccessKeyId=18bd696e8df5d7a48893&x-amz-limitrate=10240&x-amz-CLOUDTYPEIN=PERSON&x-amz-CLIENTTYPEIN=WEB&Signature=SEz8Zfn3oLWAemdfFni3BtJrB08%3D</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://cloud189-shzh-person.oos-gdsz.ctyunapi.cn/PERSONCLOUD/51f6b713-b15e-43c3-bf67-c748c09290e1.png?x-amz-UFID=81418110789255660&x-amz-CLIENTNETWORK=UNKNOWN&x-amz-FSIZE=1885&Expires=1596327694&x-amz-UID=776740034&response-content-disposition=attachment%3Bfilename%3D%22AppIcon57x57.png%22&AWSAccessKeyId=18bd696e8df5d7a48893&x-amz-limitrate=10240&x-amz-CLOUDTYPEIN=PERSON&x-amz-CLIENTTYPEIN=WEB&Signature=zOktAGd0%2Bgv61jwExkmLJezkzS8%3D</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://cloud189-shzh-person.oos-gdsz.ctyunapi.cn/PERSONCLOUD/51f6b713-b15e-43c3-bf67-c748c09290e1.png?x-amz-UFID=81418110789255660&x-amz-CLIENTNETWORK=UNKNOWN&x-amz-FSIZE=1885&Expires=1596327694&x-amz-UID=776740034&response-content-disposition=attachment%3Bfilename%3D%22AppIcon57x57.png%22&AWSAccessKeyId=18bd696e8df5d7a48893&x-amz-limitrate=10240&x-amz-CLOUDTYPEIN=PERSON&x-amz-CLIENTTYPEIN=WEB&Signature=zOktAGd0%2Bgv61jwExkmLJezkzS8%3D</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.liguangming.Shadowrocket</string>
               <key>bundle-version</key>
               <string>2.1.56</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>shadowrocket</string>
               <key>title</key>
               <string>shadowrocket</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
